body {
  margin: 0;
  background-color: rgb(29, 28, 28);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
}

.main-chat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(90%, 700px);
  height: 57px;
  background-color: rgb(62, 60, 60);
  border-radius: 23px;
  min-height: 57px;
  padding: 0.1rem;
}

input {
  margin: 4px 0 0 0;
  flex-grow: 1;
  background: none;
  outline: none;
  border: none;
  color: white;
  font: 1em sans-serif;
}

.add-btn,
.voice {
  margin: 0 10px;
  background: none;
  color: white;
  border: none;
  font-size: 30px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 40%;
}

.add-btn:hover,
.voice:hover,
.send:hover {
  background-color: grey;
}

.send {
  margin: 0 10px;
  background-color: rgb(152, 155, 150);
  color: white;
  border: none;
  font-size: 22px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 40%;
  padding-bottom: 5px;
}

.interaction {
  color: white;
  margin: 30px;
  font-size: 30px;
}

header {
  display: flex;
  justify-content: center;
}

.AI-name {
  color: white;
  position: absolute;
  top: 10px;
}

.dialog {
  display: flex;
  width: min(90%, 680px);
  min-height: 80vh;
  justify-content: space-between;
  display: none;
}

.user,
.chatbot {
  height: 5%;
  background-color: rgb(62, 60, 60);
  padding: 5px;
  border-radius: 15px;
}

.user {
  margin: 80px 0 40px 0;
}

.user-message,
.chatbot-message {
  color: white;
  font: 1em sans-serif;
}

.hidden {
  display: none;
}
